.postImage {
  height: 500px;
}

.commentWrapper {
  max-height: 250px;
  overflow: scroll;
}

.commentWrapper::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.commentWrapper::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--primaryLight);
}

.commentWrapper::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 5px;
}

@media only screen and (max-width:1024px) {
  .postImage {
    height: 300px;
  }
}

@media only screen and (max-width:767px) {
  .postImage {
    height: 250px;
  }
}

@media only screen and (max-width:320px) {
  .postImage {
    height: 150px;
  }
}