.messagesColumn {
  max-height: 50vh;
  overflow: auto;
  padding: 10px 10px 10px 40px;
}

.messagesColumn::-webkit-scrollbar {
  width: 0px;
}

.message {
  background: rgb(0, 24, 111);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 300px;
  padding: 12px;
}

.msgMeta {
  color: rgb(153, 217, 234);
  font-size: 0.75rem;
}

.msgText {
  color: #fff;
}

/* Message input and button */
.sendMessageContainer {
  padding: 16px 20px 20px 16px;
}

.messageInput {
  padding: 14px;
  margin-right: 16px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
}