.container {
  /* height: 90vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  min-width: 50vw;
  min-height: 70vh;
  /* background: lightblue; */
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--primaryLight);
  font-size: 0.9rem;
}

.input option {
  margin-top: 20px;
}