.btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 36px !important;
  cursor: pointer;
  overflow: hidden;
  text-transform: capitalize;
}

.bg_one {
  background: linear-gradient(-90deg, var(--primaryLight) 0%, var(--primaryColor) 100%) !important;
  color: var(--white) !important;
}

.bg_one:hover {
  background: linear-gradient(-90deg, var(--primaryColor) 0%, var(--primaryLight) 100%) !important;
}

.normal {
  padding: 0px 26px !important;
  height: 40px;
  min-width: 130px;
}

.small {
  padding: 0px 8px !important;
  min-height: 30px;
  min-width: 100px;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }

  to {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@keyframes rippleActive {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: loader 0.8s linear infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.editBtn {
  position: absolute;
  padding: 2px;
  background-color: var(--white);
  width: 21px;
  top: -10px;
  right: -5px;
}

@media only screen and (max-width: 987px) {
  .normal {
    padding: 0px 20px !important;
    font-weight: 600;
    height: 35px;
    min-width: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .normal {
    padding: 0px 10px !important;
    font-weight: 600;
    height: 30px;
    min-width: 120px;
  }

  .small {
    padding: 0px 5px !important;
    min-height: 25px;
    min-width: 100px;
  }

  .editBtn {
    width: fit-content;
    top: -8px;
    right: -5px;
  }
}