:root {
  --primaryColor: #4CB5F9;
  --primaryLight: #0449bd;
  --black: #000000;
  --white: #ffffff;
  --colorfour: #998f9e;
  --linkColor: #308ec5;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: var(--colorfive) !important; */
  /* background-image: url("https://darksoul-codepen.github.io/DarkSoul.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: inherit !important;
}

a {
  color: var(--linkColor) !important;
  text-decoration: none !important;
}

.globalContentColors {
  color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .transparentBg {
  background: transparent;
  backdrop-filter: blur(1px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
} */

.scaleItems {
  transition: 0.5s;
}

.scaleItems:hover {
  transform: scale(1.05);
}

.folderEditBtn {
  transition: 0.4s;
  opacity: 0;
}

.folderWrapper:hover .folderEditBtn {
  opacity: 1;
}

.form-control:focus {
  box-shadow: none !important;
}